<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="test.css"/>
    <meta charset="UTF-8">
    <title>CHOJI App user</title>

    <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">Blog</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

</head>
<body id="body">
<div class="container">
    <h1><marquee>CHOJI App User</marquee></h1>
    <div>
      <h2><a href="/home/test.html">Click here to login</a></h2>
    </div>
    <div>
      <h2><a href="/home/register">Click here to register</a></h2>
    </div>

</div>
</body>
</html>
